{% load static %}

<footer class="footer-section">

    <div class="container">

        <div class="row gy-4">

            <!-- Company -->

            <div class="col-lg-4 col-md-6">

                <h3 class="footer-logo">
                    <i class="bi bi-taxi-front-fill text-warning"></i>
                    Rovexa Taxi Booking
                </h3>

                <p class="footer-text">
                    Taxigo is a reliable taxi booking platform providing
                    safe, affordable and comfortable rides anytime,
                    anywhere.
                </p>

                <div class="social-icons">

                    <a href="#"><i class="bi bi-facebook"></i></a>

                    <a href="#"><i class="bi bi-instagram"></i></a>

                    <a href="#"><i class="bi bi-twitter-x"></i></a>

                    <a href="#"><i class="bi bi-linkedin"></i></a>

                </div>

            </div>

            <!-- Quick Links -->

            <div class="col-lg-2 col-md-6">

                <h5>Quick Links</h5>

                <ul class="footer-links" >

                    <li><a href="/">Home</a></li>

                    <li><a href="#about">About</a></li>

                    <li><a href="{% url 'booking_list' %}">Bookings</a></li>

                    <li><a href="{% url 'add_booking' %}">Book Taxi</a></li>

                    <li><a href="#">Contact</a></li>

                </ul>

            </div>

            <!-- Services -->

            <div class="col-lg-3 col-md-6">

                <h5>Services</h5>

                <ul class="footer-links">

                    <li>🚖 City Taxi</li>

                    <li>✈ Airport Pickup</li>

                    <li>🛣 Outstation Trips</li>

                    <li>📦 Parcel Delivery</li>

                    <li>💼 Corporate Travel</li>

                </ul>

            </div>

            <!-- Contact -->

            <div class="col-lg-3 col-md-6">

                <h5>Contact Us</h5>

                <p>
                    <i class="bi bi-geo-alt-fill text-warning"></i>
                    Tiruvannamalai, Tamil Nadu
                </p>

                <p>
                    <i class="bi bi-telephone-fill text-warning"></i>
                    +91 98765 43210
                </p>

                <p>
                    <i class="bi bi-envelope-fill text-warning"></i>
                  rovexacabs@gmail.com
                </p>

                <p>
                    <i class="bi bi-clock-fill text-warning"></i>
                    24 × 7 Customer Support
                </p>

            </div>

        </div>

        <hr class="footer-line">

        <div class="text-center">

            <p class="copyright">

                © 2026 Rovexa. All Rights Reserved.
                | ❤️ Rovexa

            </p>

        </div>

    </div>

</footer>