<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <div class="card">

        <div class="card-header bg-primary text-white">
            <h3>Make Payment</h3>
        </div>

        <div class="card-body">

            <h5>Booking #{{ booking.id }}</h5>

            <p><strong>Customer:</strong> {{ booking.customer }}</p>

            <p><strong>Total Fare:</strong> ₹{{ booking.total_fare }}</p>

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn btn-success">
                    Pay Now
                </button>

                <a href="{% url 'payment_list' %}"
                   class="btn btn-secondary">
                    Cancel
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}
</body>
</html>